/* Stylesheet */

@import url("poppins.css");

body {  
  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  font-family: 'Poppins-BoldItalic';
  font-size: 4vmin;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-radius: 20px;
  width: 720px;
  
  /* Add contrast to text */
  background-color: rgb(10, 10, 10,.75);
}

.carImage {
  width: 600px;
  border-radius: 20px;
  transition: outline .25s ease-in-out, outline-offset .25s ease-in-out;
}

.carImage:hover {
  outline: 5px solid #FFC700;
  outline-offset: -5px;
}

nav{
  margin-top: 20px;
}

.prev {
  height: 40px;
  margin: 10px;
}

.next {
  height: 40px;
  margin: 10px;
}

.random {
  height: 50px;
  margin: 5px;
}